.correct {
    color: green;
}

.incorrect {
    color: red;
}

#alert {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    background-color: limegreen;
    color: white;
    border-radius: 10px;   
    padding: 20px;
}
